.portfolio {
  margin: 70px auto 0px auto;
  max-width: calc(320px - 28px);
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin: 89px auto 0px auto;
    max-width: calc(768px - 100px);
  }
}

@media screen and (min-width: 1280px) {
  .portfolio {
    margin: 100px auto 0px auto;
    max-width: calc(1280px - 140px);
  }
}

.portfolio__title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  color: #a0a0a0;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .portfolio__title {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__title {
    color: #8b8b8b;
  }
}

.portfolio__navigation {
  padding-top: 40px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .portfolio__navigation {
    padding-top: 50px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio__navigation {
    padding-bottom: 125px;
  }
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-decoration: none;
  padding-bottom: 19px;
  border-bottom: solid 1px #e6e6e6;
}

@media screen and (min-width: 1280px) {
  .portfolio__link {
    border-bottom: solid 1px #424242;
  }
}

.portfolio__link:last-child {
  margin-bottom: 0px;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .portfolio__link-title {
    line-height: 50px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio__link-title {
    font-size: 28px;
  }
}

.portfolio__link-img {
  min-width: 12px;
  padding-right: 3px;
  height: 100%;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .portfolio__link-img {
    min-width: 18px;
    padding-right: 6px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio__link-img {
    min-width: 19px;
  }
}
