.promo {
  background-color: #272727;
  border-radius: 10px;
  margin: 14px auto 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: calc(320px - 28px);
}

@media screen and (min-width: 768px) {
  .promo {
    margin-top: 20px;
    max-width: calc(768px - 40px);
  }
}

@media screen and (min-width: 1280px) {
  .promo {
    max-width: calc(1280px - 80px);
  }
}

.promo__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  color: #fff;
  margin: 0;
  text-align: center;
  align-self: center;
  padding-top: 220px;
  padding-bottom: 212px;
}

@media screen and (min-width: 768px) {
  .promo__title {
    font-size: 37px;
    line-height: 52px;
    padding-top: 350px;
    padding-bottom: 314px;
    max-width: 520px;
  }
}

@media screen and (min-width: 1280px) {
  .promo__title {
    font-size: 46px;
    line-height: 58px;
    padding-top: 160px;
    padding-bottom: 151px;
    max-width: 730px;
  }
}

