.checkbox {
  padding-top: 46px;
  padding-bottom: 39px;
  border-bottom: solid 1px #424242;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .checkbox {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .checkbox {
    padding-top: 28px;
  }
}

.toggler {
    display: block;
    content: " ";
    background-image: url("../../images/toggle-button.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 20px;
}

input:checked ~ .toggler {
  display: block;
  background-image: url("../../images/toggle-button-active.svg");
}

.checkbox__button {
  display: none;
}

.checkbox__filter {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: 18px;
  font-weight: 400;
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  padding-left: 13px;
}

@media screen and (min-width: 768px) {
  .checkbox__filter {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .checkbox__filter {
    font-size: 12px;
  }
}
