.about-me {
  margin: 70px auto 0px auto;
  max-width: calc(320px - 28px);
}

@media screen and (min-width: 768px) {
  .about-me {
    margin: 90px auto 0px auto;
    max-width: calc(768px - 100px);
  }
}

@media screen and (min-width: 1280px) {
  .about-me {
    margin: 110px auto 0px auto;
    max-width: calc(1280px - 140px);
  }
}

.about-me__student-info {
  padding-top: 60px;
  color: #fff;
  display: grid;
}

@media screen and (min-width: 768px) {
  .about-me__student-info {
    padding-top: 69px;
    grid-template-columns: 364px 1fr;
    column-gap: 49px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__student-info {
    grid-template-columns: 600px 1fr;
    column-gap: 270px;
  }
}

.about-me__photo {
  height: 352px;
  width: 292px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .about-me__photo {
    height: 307px;
    width: 255px;
    order: 2;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__photo {
    height: 327px;
    width: 270px;
  }
}

.about-me__student-name {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: normal;
  font-weight: 400;
  font-size: 30px;
  padding-top: 41px;
}

@media screen and (min-width: 768px) {
  .about-me__student-name {
    font-size: 40px;
    padding-top: 0px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__student-name {
    font-size: 50px;
    line-height: 58px;
  }
}

.about-me__profession {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: 16px;
  font-weight: 500;
  font-size: 11px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .about-me__profession {
    font-size: 12px;
    line-height: 18px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__profession {
    font-size: 18px;
    line-height: 20px;
  }
}

.about-me__description {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: 16px;
  font-weight: 500;
  font-size: 11px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .about-me__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__description {
    font-size: 14px;
    line-height: 22px;
    padding-top: 26px;
  }
}

.about-me__link {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: normal;
  font-weight: 500;
  font-size: 14px;
  padding-top: 8px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .about-me__link {
    padding-top: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__link {
    padding-top: 78px;
  }
}

.about-me__link:hover {
  opacity: 0.7;
}