.navigation {
    box-sizing: border-box;
    align-self: center;
    max-width: 258px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 17px;
}

@media screen and (min-width: 768px) {
    .navigation {
      max-width: 308px;
    }
  }